/* 12 column setup */
$cv_background_color: #f1f1f1;
// $primary_color: #156aa6;
$primary_color: #ff5733;

* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1.1px;
  margin: 0;
  padding: 0;
  background-color: $cv_background_color;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

ul {
  padding: 15px 0;
  li {
    list-style-type: none;
    padding-bottom: 10px;
    font-weight: 600;
  }
}

hr {
  color: $primary_color;
  border-top: 1px dashed $primary_color;
}
.separator {
  color: $primary_color;
}
